**Importación de archivos**

In [1]:
import pandas as pd
import ast
import json

In [2]:
# Importamos los archivos JSON

# Lista para almacenar los diccionarios JSON de cada línea
data_list = []

# Ruta del archivo JSON
file_path = 'E:/Henry Curso/Curso/LABS/PI_MLOps/Dataset/australian_user_reviews.json'

# Abrir el archivo y procesar cada línea
with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        try:
            # Usar ast.literal_eval para convertir la línea en un diccionario
            json_data = ast.literal_eval(line)
            data_list.append(json_data)
        except ValueError as e:
            print(f"Error en la línea: {line}")
            continue

# Crear un DataFrame a partir de la lista de diccionarios
df_user_reviews = pd.DataFrame(data_list)

In [3]:
# Lista para almacenar los diccionarios JSON de cada línea
data_list = []

# Ruta del archivo JSON
file_path = 'E:/Henry Curso/Curso/LABS/PI_MLOps/Dataset/australian_users_items.json'
# Abrir el archivo y procesar cada línea
with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        try:
            # Usar ast.literal_eval para convertir la línea en un diccionario
            json_data = ast.literal_eval(line)
            data_list.append(json_data)
        except ValueError as e:
            print(f"Error en la línea: {line}")
            continue

# Convertir la lista de objetos JSON en un DataFrame
df_users_items = pd.DataFrame(data_list)

In [41]:
# Para este archivo tuve que utilizar un método distinto

# Leer el archivo línea por línea y cargar cada línea como un objeto JSON
with open('E:/Henry Curso/Curso/LABS/PI_MLOps/Dataset/output_steam_games.json', 'r', encoding='utf-8') as archivo:
    data = [json.loads(line) for line in archivo]

# Convertir la lista de objetos JSON en un DataFrame
df_steam_games = pd.DataFrame(data)

**Corrección de DataFrames**

**df_steam_games**

In [42]:
# Visualizamos las dimensiones del df
df_steam_games.shape

(120445, 13)

In [43]:
# Limpiamos el DataFrame de Steam Games de todos los datos sobrantes

df_steam_games = df_steam_games[df_steam_games['genres'].notna()]

In [44]:
df_steam_games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域
88315,Trickjump Games Ltd,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"[Action, Adventure, Simulation, FPS, Shooter, ...",http://steamcommunity.com/app/772540/reviews/?...,"[Single-player, Steam Achievements]",3.99,False,772540,Trickjump Games Ltd

In [45]:
# Comprobamos cantidad de filas y columnas del DataFrame
df_steam_games.shape

(28852, 13)

In [46]:
# Consideramos que columnas eliminar de df_steam_games

# app_name: Contiene los mismos datos que 'title'
# tags: contiene caracteristicas similares que 'genres'
# url: No contiene información que pueda aportar al modelo
# reviews_url: No posee información importante

In [47]:
columnas_eliminar = ['app_name', 'tags', 'url', 'reviews_url']

df_steam_games = df_steam_games.drop(columns=columnas_eliminar)

In [48]:
# Visualizamos el tipo de datos de las columnas
df_steam_games.dtypes

publisher       object
genres          object
title           object
release_date    object
specs           object
price           object
early_access    object
id              object
developer       object
dtype: object

In [49]:
# Revisamos datos nulos por columna

datos_no_nulos = df_steam_games.count()
datos_nulos = df_steam_games.isnull().sum()

informacion_columnas = pd.DataFrame({'Datos no nulos': datos_no_nulos,'Datos nulos': datos_nulos})
informacion_columnas

              Datos no nulos  Datos nulos
publisher              23955         4897
genres                 28852            0
title                  28851            1
release_date           28834           18
specs                  28566          286
price                  27622         1230
early_access           28852            0
id                     28851            1
developer              28682          170

In [50]:
# Elimino el unico registro con id nulo
# Eliminar registros con valores nulos en 'columna_especifica'
df_steam_games = df_steam_games.dropna(subset=['id'])

# Transformo 'id' en un tipo de dato int 
df_steam_games['id'] = df_steam_games['id'].astype(int)

In [51]:
# Transformo el nombre de la columna a 'item_id'
df_steam_games.rename(columns={'id': 'item_id'}, inplace=True)

In [52]:
# Visualizo los valores unicos en 'price' 
df_steam_games['price'].unique()

array([4.99, 'Free To Play', 'Free to Play', 0.99, 3.99, 9.99, 18.99,
       29.99, nan, 10.99, 2.99, 1.59, 14.99, 1.99, 59.99, 8.99, 6.99,
       7.99, 39.99, 'Free', 19.99, 7.49, 12.99, 5.99, 2.49, 15.99, 1.25,
       24.99, 17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo',
       'Play for Free!', 34.99, 74.76, 1.49, 32.99, 99.99, 14.95, 69.99,
       16.99, 79.99, 49.99, 5.0, 44.99, 13.98, 29.96, 109.99, 149.99,
       771.71, 'Install Now', 21.99, 89.99,
       'Play WARMACHINE: Tactics Demo', 0.98, 139.92, 4.29, 64.99,
       'Free Mod', 54.99, 74.99, 'Install Theme', 0.89, 'Third-party',
       0.5, 'Play Now', 299.99, 1.29, 119.99, 3.0, 15.0, 5.49, 23.99,
       49.0, 20.99, 10.93, 1.39, 'Free HITMAN™ Holiday Pack', 36.99, 4.49,
       2.0, 4.0, 1.95, 1.5, 199.0, 189.0, 6.66, 27.99, 129.99, 179.0,
       26.99, 399.99, 31.99, 399.0, 20.0, 40.0, 3.33, 22.99, 320.0, 38.85,
       71.7, 995.0, 27.49, 3.39, 6.0, 19.95, 499.99, 199.99, 16.06, 4.68,
       131.4, 44.98, 202.76, 2.3, 0.95, 172.24, 249.99, 2.97, 10.96, 10.0,
       30.0, 2.66, 6.48, 1.0, 11.15, 'Play the Demo', 99.0, 87.94, 0.49,
       9.98, 9.95, 7.0, 12.89, 6.49, 1.87, 42.99, 41.99, 289.99,
       'Free to Try', 23.96, 5.65, 12.0, 59.95, 13.37, 189.96, 124.99,
       19.98, 160.91, 'Free to Use'], dtype=object)

In [53]:
# Unifico todos los valores distintos hacia un unico valor 'Free To Play'
# Usa la función .replace() para realizar la transformación
df_steam_games['price'] = df_steam_games['price'].replace('Free to Play', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Free Demo', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Play for Free!', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Install Now', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Play WARMACHINE: Tactics Demo', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Free Mod', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Install Theme', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Third-party', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Play Now', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Free HITMAN™ Holiday Pack', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Play the Demo', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Free to Try', 'Free To Play')
df_steam_games['price'] = df_steam_games['price'].replace('Free to Use', 'Free To Play')

In [54]:
# Convertir los 'Free To Play' en 0

# Define una función para realizar la conversión
def convert_price(value):
    if value == 'Free To Play':
        return 0.0
    try:
        return float(value)
    except ValueError:
        return None  # Si no se puede convertir a float, devolvemos None

# Aplica la función a la columna 'price'
df_steam_games['price'] = df_steam_games['price'].apply(convert_price)

# Convierte la columna en tipo float
df_steam_games['price'] = df_steam_games['price'].astype(float)

In [68]:
# Divide la columna 'fecha' y selecciona el año
df_steam_games['year'] = df_steam_games['release_date'].str.split('-').str.get(0)

In [70]:
# Eliminamos la columna 'release_date'
df_steam_games = df_steam_games.drop('release_date', axis=1)

In [73]:
# Reemplaza los valores nulos en 'year' con el valor 2016
df_steam_games['year'] = df_steam_games['year'].fillna(2016)

In [75]:
df_steam_games.head()

,publisher,genres,title,specs,price,early_access,item_id,developer,year
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,[Single-player],4.99,False,761140,Kotoshiro,2018
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,"[Single-player, Multi-player, Online Multi-Pla...",0.00,False,643980,Secret Level SRL,2018
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,"[Single-player, Multi-player, Online Multi-Pla...",0.00,False,670290,Poolians.com,2017
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,[Single-player],0.99,False,767400,彼岸领域,2017
88315,Trickjump Games Ltd,"[Action, Adventure, Simulation]",Battle Royale Trainer,"[Single-player, Steam Achievements]",3.99,False,772540,Trickjump Games Ltd,2018

**df_reviews**

In [56]:
# Desanidamos los dos DataFrames restantes

# Crear una lista para almacenar los registros desglosados de items
reviews_records = []

# Recorrer el DataFrame original y desglosar los elementos de items
for index, row in df_user_reviews.iterrows():
    user_id = row['user_id'] # Agregar el user_id 
    reviews_list = row['reviews'] # Extraer todos los datos de la coumna items de df_user_reviews
    for reviews in reviews_list:
        reviews_record = {
            'user_id': user_id,
            'item_id': reviews['item_id'],
            'posted': reviews['posted'],
            'recommend':reviews['recommend'],
            'review': reviews['review'],
        }
        reviews_records.append(reviews_record)

# Crear el DataFrame con los registros desglosados de items
df_reviews = pd.DataFrame(reviews_records)

In [57]:
# Visualizamos el DataFrame
df_reviews.head()

,user_id,item_id,posted,recommend,review
0,76561197970982479,1250,"Posted November 5, 2011.",True,Simple yet with great replayability. In my opi...
1,76561197970982479,22200,"Posted July 15, 2011.",True,It's unique and worth a playthrough.
2,76561197970982479,43110,"Posted April 21, 2011.",True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,251610,"Posted June 24, 2014.",True,I know what you think when you see this title ...
4,js41637,227300,"Posted September 8, 2013.",True,For a simple (it's actually not all that simpl...

In [58]:
# Visualizamos las dimensiones del df
df_reviews.shape

(59305, 5)

In [59]:
# Visualizamos las columnas existentes
df_reviews.columns

Index(['user_id', 'item_id', 'posted', 'recommend', 'review'], dtype='object')

In [60]:
# Visualizamos el tipo de datos de las columnas
df_reviews.dtypes

user_id      object
item_id      object
posted       object
recommend      bool
review       object
dtype: object

In [61]:
# Revisamos datos nulos por columna
datos_no_nulos = df_reviews.count()
datos_nulos = df_reviews.isnull().sum()

informacion_columnas = pd.DataFrame({'Datos no nulos': datos_no_nulos,'Datos nulos': datos_nulos})
informacion_columnas

           Datos no nulos  Datos nulos
user_id             59305            0
item_id             59305            0
posted              59305            0
recommend           59305            0
review              59305            0

In [62]:
# Realizamos el análisis de sentimiento para la columna 'review' de df_reviews_info

from textblob import TextBlob

# Función para analizar el sentimiento y asignar valores según la escala
def analizar_sentimiento(texto):
    analysis = TextBlob(texto)
    if analysis.sentiment.polarity < 0:
        return 0  # Sentimiento negativo
    elif analysis.sentiment.polarity == 0:
        return 1  # Sentimiento neutral
    else:
        return 2  # Sentimiento positivo

In [63]:
# Transformando tipo de dato float a str para la columna 'review' debido a que el análisis de sentimiento arrojaba un error por el tipo de dato
df_reviews['review'] = df_reviews['review'].astype(str)

In [64]:
# Aplicar la función de análisis de sentimiento a la columna 'texto' y crear 'sentiment_analysis'
df_reviews['sentiment_analysis'] = df_reviews['review'].apply(analizar_sentimiento)

In [65]:
# Eliminamos la columna 'review'
df_reviews = df_reviews.drop('review', axis=1)

In [66]:
# Transformamos el tipo de dato de posted para que sea en un formato de fecha

# Extraer la parte de la fecha de la columna "posted" usando una expresión regular
df_reviews['posted'] = df_reviews['posted'].str.extract(r'Posted (.+?)\.')

# Definir un formato que permita fechas con o sin año
date_formats = ['%B %d, %Y', '%B %d']

# Intentar convertir la columna "posted" al formato deseado
for date_format in date_formats:
    try:
        df_reviews['posted'] = pd.to_datetime(df_reviews['posted'], format=date_format, errors='coerce')
        break  # Salir del bucle si la conversión es exitosa
    except ValueError:
        pass  # Continuar con el siguiente formato si hay un error

# Reemplazar el formato de fecha con el deseado
df_reviews['posted'] = df_reviews['posted'].dt.strftime('%Y-%m-%d')

In [84]:
# Divide la columna 'fecha' y selecciona el año
df_reviews['posted'] = df_reviews['posted'].str.split('-').str.get(0)

In [85]:
# Visualizamos el DataFrame
df_reviews.head()

             user_id item_id posted  recommend  sentiment_analysis
0  76561197970982479    1250   2011       True                   2
1  76561197970982479   22200   2011       True                   2
2  76561197970982479   43110   2011       True                   2
3            js41637  251610   2014       True                   2
4            js41637  227300   2013       True                   0

**df_items**

In [76]:
# Crear una lista para almacenar los registros desglosados de items
items_records = []

# Recorrer el DataFrame original y desglosar los elementos de items
for index, row in df_users_items.iterrows():
    user_id = row['user_id'] # Agregar el user_id 
    items_list = row['items'] # Extraer todos los datos de la coumna items de df_users_items 
    for item in items_list:
        item_record = {
            'user_id': user_id,
            'item_id': item['item_id'],
            'item_name': item['item_name'],
            'playtime_forever': item['playtime_forever'],
            'playtime_2weeks': item['playtime_2weeks']
        }
        items_records.append(item_record)

# Crear el DataFrame con los registros desglosados de items
df_items = pd.DataFrame(items_records)

In [77]:
# Visualizamos el DataFrame
df_items.head()

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0

In [78]:
df_items.shape

(5153209, 5)

In [79]:
# Optmizamos datos en pos de lograr un procesamiento en Render exitoso

df_items = df_items[:1000000]

**Exportación de Archivos**

In [80]:
# Con los DataFrames procesados los exportamos en limpio

df_steam_games.to_csv('E:\\Henry Curso\\Curso\\LABS\\PI_MLOps\\FastAPI\\df_games.csv', index=False)

In [81]:
df_reviews.to_csv('E:\\Henry Curso\\Curso\\LABS\\PI_MLOps\\FastAPI\\df_reviews.csv', index=False)

In [82]:
df_items.to_csv('E:\\Henry Curso\\Curso\\LABS\\PI_MLOps\\FastAPI\\df_items.csv', index=False)